.turismo-body {
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.social_media_icons img{
 height: 50px;
 width: 50px;
 margin-bottom: 20px;
}
.titulos{
  color: white;
}
.input-field .material-icons{
  color: white;
}
.btn_enviar{
  float: right;
  margin-right: 3em;
  color: #1e88e5;
  background-color: white;
  font-weight: bold;
}
.margin-top{
  margin-top: 20px;
}
.contenedor{
  padding: 0 !important;
}
.logo{
width:100%;
height: 120px;
border-radius: 10px;
margin-top: 25px;
}
img[src^="img/catedral.jpg"]{
width: 100%;
}
.circle{
  height: 80px;
  width: 80px;
  margin-top: 15px;
}
.perfil{
  text-align: center;
 padding-left: 0.5rem !important;
}
/* Le da un padding a cada card panel que contiene texto para hacer que
este aparezca mas a dentro */
.info{
  padding: 10px !important;
  margin-bottom: 0 !important;
}
/* Nota */
/* Este pega las filas de cada seccion*/
.filas{
  margin-bottom: 5px !important;
}
.seccion_acuario{
  background-color: white;
}
.img-columna1{
  width: 300px;
  height: 230px;
  float: left;
  margin-right: 10px;
}
.primer_parrafo_acuario{
  margin-top: 0;
}
.chip{
  font-size: 0.7em;
}
.small-perfil{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
@media (max-width: 600px) {
  .img-central{
      padding: 0 !important;
  }
}
